@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Nato sans",sans-serif;
}

.header_section {
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 20px;
}

.burger_menu {
    &:hover {
        .navigation {
            opacity: 1;
            visibility: visible;
        }
    }

    .burger_img {
        @media screen and (min-width: 1201px) {
            display: none;
        }
    }
}

.navigation {
    display: flex;
    gap: 40px;

    a {
        color: #56566C;
        font-size: 18px;
        font-weight: 600;


    }

    @media screen and (max-width: 1200px) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        flex-direction: column;
        background-color: #ffffff;
        padding: 40px 20px;
        height: 100vh;
        width: 100%;
        max-width: 510px;
        transition: opacity 0.2s, visibility 0.2s;
    }
}

.nav_but {
    display: flex;
    gap: 19px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    &.mobile {
        @media screen and (min-width: 1201px) {
            display: none;
        }
    }

    &.desktop {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}

.global {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button_first {
    display: flex;
    gap: 19px;
}

.but_trans {
    font-weight: 600;
    font-size: 18px;
    color: #56566C;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
}

.but_white {
    border: 2px solid #001E2A;
    color: #001E2A;
    font-weight: 600;
    font-size: 18px;
    padding: 19px 54px;
    background-color: #fff;
    border-radius: 5px;
}

.second_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 150px 20px;
    gap: 278px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
}

.trade_platform {

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        padding: 40px 60px;
    }

    h1 {
        font-weight: 700;
        font-size: 80px;
        color: #000000;
        line-height: 90px;
        margin-bottom: 32px;

        @media screen and (max-width: 1200px) {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 12px;
        }
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #312E30;
        margin-bottom: 76px;

        @media screen and (max-width: 1200px) {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.bit_but {
    display: flex;
    gap: 40px;

    @media screen and (max-width: 1200px) {
        gap: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.but_dark_blue {
    border-radius: 5px;
    padding: 19px 47px;
    background-color: #001E2A;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.button_blue {
    border-radius: 5px;
    padding: 19px 47px;
    color: #001E2A;
    background-color: #DEF3FE;
    border: 2px solid #74CAEE;
    font-weight: 600;
    font-size: 18px;
}

.loyal {
    object-fit: contain;
    object-position: center;
    width: 100%;
    padding: 40px 60px;
}

.logo_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
    width: 100%;
    margin-bottom: 120px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}

.benefits {
    background: #252331;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 80px;

    @media screen and (max-width:1200px) {
        padding: 60px 21px;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        max-width: 311px;
        gap: 34px;
    }
}

.benefits_text {
    flex-wrap: wrap;
    display: flex;

    @media screen and (max-width:1200px) {
        flex-direction: column;
    }

    h2 {
        font-weight: 500;
        font-size: 48px;
        color: #fff;
        margin-bottom: 36px;

        @media screen and (max-width:1200px) {
            font-weight: 500;
            font-size: 32px;
        }
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #fff;

        @media screen and (max-width:1200px) {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.benefits_users {
    display: flex;
    justify-content: space-between;
    gap: 53px;

    @media screen and (max-width:1200px) {
        flex-direction: column;

    }
}

.user {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        text-align: center;
    }

    img {
        object-fit: cover;
    }
}

.user_info {

    h3 {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 18px;
        display: block;

        @media screen and (max-width:1200px) {
            font-size: 16px;
            margin-bottom: 1px;
        }
    }

    span {
        font-size: 12px;
        font-weight: 500;
        color:#959595;
        margin-bottom: 16px;
        display: block;
    }

    p {
        font-weight: 500;
        font-size: 12px;
        color: #ECECEC;
        margin-bottom: 16px;

        @media screen and (max-width:1200px) {
            font-size: 14px;
        }
    }
}

.user_badge {
    padding: 5px 14px;
    color: #fff;
    display: block;

    &.red {
        background-color: #EE5858;
        border-radius: 14px;
    }

    &.green {
        background-color: #35CE6D;
        border-radius: 14px;
    }
}

.but_user {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.frick {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 140px 20px;

}

.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 231px;

        @media screen and (max-width:1200px) {
            flex-direction: column;
            text-align: center;
            gap: 40px;
            padding: 60px 10px;
    }
}

.img_wallet {
    max-width: 600px;
    width: 100%;
}

.traders {
    max-width: 657px;

    h3 {
        color: #001E2A;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 32px;
        line-height: 54px;

        @media screen and (max-width:1200px) {
            font-size: 32px;
            margin-bottom: 12px;
        }
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #001E2A;
        margin-bottom: 76px;

        @media screen and (max-width:1200px) {
            font-size: 18px;
            margin-bottom: 35px;
        }
    }
}

.join_but {
    max-width: 286px;

    @media screen and (max-width:1200px) {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    button {
        border-radius: 5px;
        border: 2px solid #74CAEE;
        padding: 19px 42px;
        color: #001E2A;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        background-color: #ffffff;
    }
}


.markets {
    width: 100%;
    background: linear-gradient(to right,#EEF7F9,#E9F3FD);
    margin: 0 auto;
    padding: 120px 20px;

    @media screen and (max-width:1200px) {
        padding: 60px 10px;
    }
}

.text_table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 87px;
    max-width: 1640px;
    margin: 0 auto;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        text-align: center;
        gap: 40px;
        padding: 60px 10px;
    }        
}

.markets_img {
    max-width: 744px;
    width: 100%;
}

.block_text { 
    @media screen and (max-width:1200px) {
        flex-direction: column;
    }

    span {
        color: #238BE2;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
        display: block;

        @media screen and (max-width:1200px) {
            font-size: 14px;
            margin-bottom: 12px;
        }
    }

    h3 {
        color: #001E2A;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 32px;
        display: block;

        @media screen and (max-width:1200px) {
            font-size: 32px;
            margin-bottom: 12px;
        }
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #001E2A;
        line-height: 30px;
        display: block;
        margin-bottom: 76px;

        @media screen and (max-width:1200px) {
            font-size: 18px;
            margin-bottom: 35px;
        }
    }
}

.trading_but {
    max-width: 206px;

        @media screen and (max-width:1200px) {
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

    button {
        border-radius: 5px;
        border: 2px solid #74CAEE;
        padding: 19px 42px;
        color: #001E2A;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        background-color: #ffffff;

    }
}

.steps {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 20px;
    gap: 174px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        padding: 60px 20px;
        gap: 40px;
    }
}

.steps_left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 47px;

    @media screen and (max-width:1200px) {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        width: 100%;
        grid-template-columns: 1fr;
    }
}

.step_item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;


    span {
        font-size: 18px;
        font-weight: 600;
        color: #001E2A;
        margin-bottom: 12px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        color: #001E2A99;
        line-height: 24px;
    }

    img {
        margin-bottom: 24px;
    }
}

.number_img {
    width: 100%;
    max-width: 60px;
    object-fit: contain;
    object-position: center;
}

.steps_right {
    max-width: 657px;

    h3 {
        font-weight: 700;
        font-size: 48px;
        color: #001E2A;
        margin-bottom: 32px;
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #001E2A;
        margin-bottom: 76px;
    }

    @media screen and (max-width:1200px) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.steps_btn {
    border: 2px solid #74CAEE;
    border-radius: 5px;
    background-color: #fff;
    max-width: 254px;
    color: #001E2A;
    padding: 19px 42px;
    font-size: 18px;
    font-weight: 600;

    @media screen and (max-width:1200px) {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}

.platform_container {
    width: 100%;
    background: linear-gradient(to right,#EEF7F9,#E9F3FD);
    margin: 0 auto;
    padding: 120px 20px;
    gap: 53px;
    margin-bottom: 120px;

    @media screen and (max-width:1200px) {
        flex-direction: column;
    }
}

.platform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1640px;
    background: linear-gradient(to right,#EEF7F9,#E9F3FD);
    margin: 0 auto;
    gap: 53px;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        padding: 60px 20px;
    }
}

.platform_name {
    
}

.platform_text {
    max-width: 657px;

    h3 {
        font-weight: 700;
        font-size: 48px;
        color: #001E2A;
        line-height: 54px;
        margin-bottom: 32px;
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #001E2A;
        margin-bottom: 76px;

        @media (max-width: 1200px) {
            font-size: 18px;
        }
    }

    @media (max-width: 1200px) {
        max-width: 100%;
    }

    @media screen and (max-width:1200px) {
        h3 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
        }
    }
}

.platform_button {
    max-width: 203px;

        @media (max-width: 1200px) {
            max-width: 100%;
        }

    button {
        border-radius: 5px;
        border: 2px solid #74CAEE;
        padding: 19px 42px;
        color: #001E2A;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        background-color: #ffffff;
    }
}

.platform_trade {
    object-fit: contain;
    object-position: center;
    max-width: 778px;
    width: 100%;
}

.card_container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.titl {


    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 60px 20px;
    }

    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        color: #001E2A;
        margin-bottom: 32px;

        @media (max-width: 1200px) {
            font-size: 32px;
            line-height: 26px;
        }
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #001E2A;
        line-height: 30px;
        margin-bottom: 76px;

        @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 15px;
        }
    }
}

.tabl_cards_glav {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 75px;
    padding-bottom: 45px;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 25px;
        padding: 0 20px 30px;
        text-align: center;
    }
}

.minimal_tabl_cards {
    width: 33%;
    max-width: 1488px;
    background-color: #DEF3FE;
    border-radius: 10px;
    padding: 25px 23px 45px;

    @media (max-width: 1200px) {
        padding: 20px 20px 28px;
        width: 100%;
    }

    h4 {
        color: #302F2D;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 11px;

        @media (max-width: 1200px) {
            font-size: 24px;
            text-align: center;
        }
    }

    span {
        font-weight: 500;
        font-size: 16px;
        color: #9A9A9A;
        margin-bottom: 11px;

        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }

    p {
        color: #9A9A9A;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 36px;

        @media (max-width: 1200px) {
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 24px;
            text-align: center;
        }
    }
}

.hh_titl {
    display: flex;
    margin-bottom: 11px;
    font-weight: 800px;
    font-size: 32px;
    gap: 4px;
    color: #302F2D;

    @media (max-width: 1200px) {
        font-size: 24px;
        justify-content: center;
    }

    .sp {
        border-radius: 10px;
        background-color: #238BE2;
        max-width: 83px;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        padding: 3px 19px;
        text-align: center;
        margin: 0 0 ;
    }

}

.traficall {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    gap: 11px;
}

.tariff_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
        justify-content: unset;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        color: #302F2D;
    }
}

.tariff_item {
    display: flex;
    gap: 5px;

    span {
        font-weight: 600;
        font-size: 16px;
        color: #302F2D;
    }

}

.inactive {
    display: flex;
    gap: 5px;
}

.button_arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #238BE2;
    width: 100%;
    padding: 19px 32px;
    text-align: center;

    span {
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
    }
}

.block_input_data {
    width: 100%;
    padding: 20px 120px;

    @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }
}

.title_input {
    
    @media (max-width: 1200px) {
        text-align: center;
    }

    h3 {
        font-weight: 700;
        font-size: 48px;
        color: #001E2A;
        margin-bottom: 16px;

        @media (max-width: 1200px) {
            font-size: 32px;
        }
    }

    p {
        font-weight: 500;
        font-size: 22px;
        color: #001E2A;
        margin-bottom: 60px;

        @media (max-width: 1200px) {
            font-size: 18px;
        }
    }
}

.imput_data {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: #252331;
    padding: 120px 20px;
    margin-bottom: 90px;
    text-align: center;

    @media (max-width: 1200px) {
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
    }
}

.banner_data {
    margin-bottom: 60px;

    span {
        display: block;
        font-weight: 600;
        font-size: 44px;
        color: #ffffff;
        margin-bottom: 32px;
    }

    p {
        font-size: 24px;
        font-weight: 500;
        color: #908ca2;
    }
}

.data_entry {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
     
    input {
        display: block;
        background-color: transparent;
        padding: 24px 0;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
        width: 100%;
        max-width: 380px;
    }

    button {
        color: #001E2A;
        font-weight: 600;
        font-size: 18px;
        background-color: #DEF3FE;
        padding: 21px 77px;
        border-radius: 5px;
        width: 100%;
        max-width: 256px;
        margin-bottom: 20px;
    }

    p {
        display: block;
        font-size: 24px;
        font-weight: 500;
        color: #908ca2;

        &.text_pp {
            color: rgba(163, 163, 163, 0.5);
            font-weight: 500;
            font-size: 16px;
            line-height: 2;
            text-align: center;
            margin-top: 20px;
        }
    }


}

.input_text {
    display: flex;
    align-items: center;
    gap: 48px;
    width: 100%;
    margin-bottom: 36px;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 24px;
    }    
}

footer {
    background-color: #080808;
    padding: 40px 20px;
    width: 100%;

    @media screen and (max-width: 1200px) {
        padding: 30px 10px;
    }

    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }
}


.footer_contain {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 5px solid #212121;
    gap: 133px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }
}

.name_company {
    max-width: 300px;

    p {
        font-weight: 500;
        font-size: 10px;
        color: #828383;
        margin-bottom: 64px;
        display: block;
        line-height: 15px;

        @media screen and (max-width: 1200px) {
            font-size: 10px;
        }
    }

    span {
        font-weight: 700;
        font-size: 16px;
        color: #828383;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}

.img_logo1 {
    margin-bottom: 22px;

    @media screen and (max-width: 1200px) {
        margin-bottom: 32px;
    }
}

.span_engine {
    display: flex;
    flex-direction: column;

    span {
        margin-bottom: 20px;
    }
}

.general_container {
    display: flex;
    gap: 80px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

.sign_links {
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    @media screen and (max-width: 1200px) {
    }

    span {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        margin-bottom: 21px;

        @media screen and (max-width: 1200px) {
            font-size: 18px;
        }
    }

    a {
        color: #828383;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        margin-bottom: 21px;

        @media screen and (max-width: 1200px) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}

.p_text {
    font-weight: 500;
    font-size: 16px;
    color: #828383;
    margin-top: 44px;

    @media screen and (max-width: 1200px) {
        display: block;
    }
}



